<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/beds">Beds</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/beds/create">Create Bed</a>
          </li>
        </ul>
    </div>
  </nav>